{
    "plugins": [
        "typecheck",
        "syntax-flow",
        "transform-flow-strip-types",
        "transform-regenerator",
        "transform-object-rest-spread"
    ],
    "env": {
        "development":{
            "presets": [
                "es2015-rollup"
            ]
        },
        "test": {
            "presets": [
                "es2015"
            ]
        }
    }
}