{
  "extends": ["./node_modules/rete-cli/.eslintrc", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-undef": "error",
    "sort-imports": ["warn", {
      "memberSyntaxSortOrder": ["single", "all", "multiple", "none"]
    }],
    "no-new": "off",
    "max-len": ["warn", 120],
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-parameter-properties": "off"
  },
  "env": {
    "es6": true,
    "mocha": true
  }
}