{
  "extends": ["./node_modules/rete-cli/.eslintrc"],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-undef": "error",
    "no-new": "off",
    "max-len": ["warn", 120],
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-parameter-properties": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-empty-function": "warn",
    "no-unused-vars": "off",
    "no-shadow": "off",
    "indent": ["warn", 2]
  },
  "env": {
    "es6": true,
    "mocha": true,
    "browser": true
  },
  "globals": {
    "WindowEventMap": true
  }
}
