{
  "extends": ["./node_modules/rete-cli/.eslintrc"],
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "mocha": true,
    "browser": true
  },
  "globals": {
    "WindowEventMap": true
  }
}
