language: node_js
node_js:
  - "node"

before_script:
  - npm install
  - npm rebuild

script:
  - npm run build
  - sonar-scanner

cache:
  directories:
    - "node_modules"

deploy:
  - provider: releases
    api_key: $GITHUB_TOKEN
    file_glob: true
    file: build/*
    skip_cleanup: true
    on:
      tags: true
  - provider: npm
    email: $NPM_EMAIL
    api_key: $NPM_TOKEN
    skip_cleanup: true
    on:
      tags: true

addons:
  sonarcloud:
    organization: "retejs"
    token:
      secure: $SONAR_TOKEN