.context-menu(
    style='left:{{contextMenu.x}}px; top:{{contextMenu.y}}px;',
    @mouseleave='contextMenu.hide()',
    al-if='contextMenu.visible'

)
  .item(al-repeat='(name,item) in contextMenu.items')
    | {{name}}
    .subitems
      .item(
        al-repeat='(name,subitem) in item',
       @click='contextMenu.onClick(subitem)'
      )
        | {{name}}