$node-color: rgba(110,136,255,0.8)
$node-color-active: #ffd92c
$group-color: rgba(15,80,255,0.2)
html,body
  margin: 0
  height: 100%

.node-editor
  .node
    fill: $node-color
    stroke: #4e58bf
    stroke-width: 2
    cursor: pointer
    &:hover
      fill: lighten($node-color,4%)
    &.active
      fill: $node-color-active
      stroke: #e3c000
  .group
    rx: 16
    ry: 16
    fill: $group-color
    cursor: pointer
    &.active
      stroke: #ffd92c
      stroke-width: 6
  .group-title
    fill: white
    font-family: sans-serif
  .group-handler
    fill: transparent
    &[al-dragable-group-handler="rb"]
      cursor: se-resize
    &[al-dragable-group-handler="lt"]
      cursor: nw-resize
    &[al-dragable-group-handler="rt"]
      cursor: ne-resize
    &[al-dragable-group-handler="lb"]
      cursor: sw-resize

  .connection
    fill: none
    stroke: steelblue
    stroke-width: 5px
      
  .input,.output
    cursor: pointer
    stroke: white
    stroke-width: 1px
    &:hover
      stroke-width: 4px
  .title,.input-title,.output-title
    fill: white
    font-family: sans-serif
    alignment-baseline: after-edge
  .output-title
    text-anchor: end
  

  select, input
    width: 100%
    height: 90%
    border-radius: 30px
    background-color: white
    padding: 2px 6px
    border: 1px solid #999
    font-size: 110%
  

.context-menu
  position: absolute
  left: 0
  top: 0
  border-radius: 7px
  overflow: hidden
  & > .item
    padding: 4px
    border: 1px solid darken($node-color,8%)
    color: #fff
    background-color: $node-color
    cursor: pointer
    &:hover
      background-color: lighten($node-color,4%)