.context-menu(
    style='left:{{contextMenu.x}}px; top:{{contextMenu.y}}px;',
    @mouseleave='contextMenu.hide()',
    al-if='contextMenu.visible'
)
  .search.item
    input(al-value='filter')
  .item(al-repeat='(name,item) in contextMenu.searchItems(filter)')
    | {{name}}
    .subitems
      .item(
        al-repeat='(name,subitem) in item',
        @click='contextMenu.onClick(subitem)'
      )
        | {{name}}